.footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    padding-top: 10px !important;
    background-color: #22282D;
}

.copyright {
    text-align: left;
}

.copyright-date {
    font-size: 15px;
    text-align: right;
    margin-left: 1px;
}

.socials {
    text-align: center;
    padding-right: 0;
    margin-bottom: 0.5rem;
}

.svg-copyright {
    margin-right: 1px;
    font-size: 9px;
    text-align: right;
}
