.main {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #22282E;
    opacity: 0.9;
}

.container {
    max-width: 100%;
    min-width: 30%;
}

.profile-pic {
    text-align: right;
    margin: 10px 200px 10px 150px;
}

.intro {
    text-align: left;
    padding-left: 60px;
    margin: 100px 150px 10px 100px;
}
