.Resume {
    padding-left: 30px;
    padding-right: 30px;
}

.row-education{
    padding-top: 10px;
    padding-left: 50px;
}

.row-work{
    padding-top: 10px;
    padding-left: 50px;
}

.skills{
    padding-top: 20px;
    padding-left: 50px;
}

.skill-icon {
    font-size: 180%;
    color: white;
    text-align: center;
    position: relative;
}
