.Resume {
    padding-left: 30px;
    padding-right: 30px;

}

.row-education{
    max-width: 100%;
    min-width: 30%;
    margin: 10px 300px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #22282E;
    opacity: 0.9;
}

.row-work{
    max-width: 100%;
    min-width: 30%;
    margin: 10px 300px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #22282E;
    opacity: 0.9;
}

.skills{
    text-align: center;
    max-width: 100%;
    min-width: 30%;
    margin: 10px 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: 0.9;
}

.skill-icon {
    font-size: 190%;
    background-color: grey;
    color: white;
    padding: 10px 11px 5px 11px;
    width: 100px;
    margin: 4px 0 4px 0;
    border-radius: 16px;
    position: relative;
}
