.Resume {
    padding-left: 30px;
    padding-right: 30px;
}

.row-education{

}

.row-work{

}

.skills{

}

.skill-icon {
    font-size: 180%;
    color: white;
    text-align: center;
    position: relative;
}
